.main {
}
.title {
  background: grey;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.title_h2 {
  color: white;
  background: grey;
  display: flex;
}
.title_h3 {
  display: flex;
  justify-content: space-around;
}

.nav {
  flex-direction: column;
  flex: 3;
  color: black;
  background: lightgray;
  display: flex;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.article {
  display: flex;
  flex: 7;
  flex-direction: column;
}
.footer {
  display: flex;
  color: white;
  justify-content: center;
  background-color: gray;
  font-size: small;
}

.header {
  background: lightgray;
  color: gray;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.towerNames {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  padding: 1rem;
}
.towerString {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}
.middleCollum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}
.leftCollum {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex: 1;
  font-weight: 750;
  font-size: 1em;
}
.rightCollum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}
.baseRules {
  font-family: sans-serif;
}
.headerLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
